@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
form {
  font-size: 10.5px;
  font-family: "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo",
    sans-serif;
  line-height: 10.5px;
  letter-spacing: -0.4px;
}
a {
  text-decoration: none;
  color: inherit;
}
:root {
  --color_title: #080808;
  --color_title_rgb: 8, 8, 8;
  --color_body: #101010;
  --color_body_rgb: 16, 16, 16;
  --color_caption1: #404040;
  --color_caption1_rgb: 64, 64, 64;
  --color_caption2: #606060;
  --color_caption2_rgb: 96, 96, 96;
  --color_search: #000;
  --color_search_rgb: 0, 0, 0;
  --color_border_out: #e3e5e8;
  --color_border_out_rgb: 227, 229, 232;
  --color_border_in: #ebebeb;
  --color_border_in_rgb: 235, 235, 235;
  --color_border_in_divider: #ebebeb;
  --color_border_in_divider_rgb: 235, 235, 235;
  --color_border_in_exception: #ebebeb;
  --color_border_in_exception_rgb: 235, 235, 235;
  --color_button_border: #dadcdf;
  --color_button_border_rgb: 218, 220, 223;
  --color_dot_divider: #d3d5d7;
  --color_dot_divider_rgb: 211, 213, 215;
  --color_block_bg: #fff;
  --color_block_bg_rgb: 255, 255, 255;
  --color_board_bg: #f4f6fa;
  --color_board_bg_rgb: 244, 246, 250;
  --color_option_bg: #f5f7f8;
  --color_option_bg_rgb: 245, 247, 248;
  --color_login_bg: #fafbfb;
  --color_login_bg_rgb: 250, 251, 251;
  --color_menu_widget_bg: #fff;
  --color_menu_widget_bg_rgb: 255, 255, 255;
  --color_setting_bg: #fff;
  --color_setting_bg_rgb: 255, 255, 255;
  --color_button1_bg: #fff;
  --color_button1_bg_rgb: 255, 255, 255;
  --color_button2_bg: #fff;
  --color_button2_bg_rgb: 255, 255, 255;
  --color_news: #3a67ea;
  --color_news_rgb: 58, 103, 234;
  --color_news_econ_stay: #909aab;
  --color_news_econ_stay_rgb: 144, 154, 171;
  --color_news_econ_down: #4f67d6;
  --color_news_econ_down_rgb: 79, 103, 214;
  --color_live_news_price: #f4361e;
  --color_live_news_price_rgb: 244, 54, 30;
  --color_enter: #e538e2;
  --color_enter_rgb: 229, 56, 226;
  --color_enter_bg: #f2f1fb;
  --color_enter_bg_rgb: 242, 241, 251;
}

#wrap {
  text-align: center;
}
#wrap-center {
  width: 1280px;
  display: inline-block;
}
#main {
  height: 2000px;
}
.blind {
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(0 0 0 0);
  margin: -1px;
  overflow: hidden;
}
#header {
  height: 64px;
  text-align: left;
  position: relative;
}

#hamburger,
#naverpay,
#notice {
  width: 46px;
  height: 46px;
  position: absolute;
  top: 18px;
  padding: 10px;
  display: inline-block;
  background: none;
  border: none;
  cursor: pointer;
}
#hamburger > div,
#naverpay > div,
#notice > div {
  width: 26px;
  height: 26px;
  background: url(../img/sp_main.png) no-repeat;
  background-size: 422px 405px;
  position: relative;
  z-index: 1;
}
#hamburger:hover::before,
#naverpay:hover::before,
#notice:hover::before {
  content: "";
  width: 44px;
  height: 44px;
  position: absolute;
  left: 1px;
  top: 1px;
  background-color: var(--color_option_bg);
  border-radius: 50%;
}
#hamburger {
  left: -10px;
  padding: 10px;
}
#hamburger > div {
  background-position: -335px -284px;
}
#naverpay {
  right: 42px;
  padding: 10px 8px;
}
#naverpay > div {
  width: 30px;
  background-position: -31px -316px;
}
#notice {
  right: -10px;
  padding: 10px;
}
#notice > div {
  background-position: -364px -27px;
}

#search > form {
  width: 708px;
  height: 60px;
  display: inline-flex;
  border: 1px solid #03c75a;
  border-radius: 33px;
  text-align: left;
}
#search > form:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}
#search-svg {
  width: 68px;
  height: 100%;
  margin-right: 12px;
  padding-left: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#search-svg:after {
  display: none;
}
#search > form:focus-within #search-svg:after {
  content: "";
  width: 1px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 20px;
  background: #e4e4e4;
  display: inline-block;
}
#search-svg svg {
  width: 24px;
  height: 24px;
  fill: #03c75a;
}
#search-input {
  width: 480px;
  height: 58px;
  line-height: 24px;
  padding: 17px 0;
  border: none;
  outline: none;
  font-size: 2rem;
  font-weight: bold;
}
#search-input::placeholder {
  color: #fff;
}
#search-input:focus::placeholder {
  color: #e4e4e4;
}
#search-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
}
#search-keyboard,
#search-recent,
#search-button {
  background: transparent;
  border: none;
  cursor: pointer;
}
#search-keyboard {
  padding: 21px 3px;
}
#search-keyboard:before {
  content: "";
  display: inline-block;
  background-image: url(https://pm.pstatic.net/resources/asset/sp_main.752c7542.png);
  background-size: 422px 405px;
  background-position: -50px -270px;
  background-repeat: no-repeat;
  width: 24px;
  height: 16px;
}
#search-keyboard:hover:before {
  filter: brightness(0.7);
}
#search-recent {
  padding: 0px 6px 4px 9px;
}
#search-recent:before {
  content: "";
  display: inline-block;
  background-image: url(https://pm.pstatic.net/resources/asset/sp_main.752c7542.png);
  background-size: 422px 405px;
  background-position: -412px -352px;
  background-repeat: no-repeat;
  width: 10px;
  height: 6px;
}
#search-button {
  padding: 17px 27px 16px 10px;
}
#search-button:before {
  content: "";
  display: inline-block;
  background-image: url(https://pm.pstatic.net/resources/asset/sp_main.752c7542.png);
  background-size: 422px 405px;
  background-position: -364px -132px;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
}

#nav {
  margin: 12px auto 0;
}
#nav > ul {
  line-height: 20px;
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
}
#nav li {
  width: 64px;
  margin-left: 4px;
  display: flex;
  justify-content: center;
}
#nav a div {
  height: 48px;
  margin: 0 auto;
  position: relative;
}
#nav a div:after {
  content: "";
  display: inline-block;
  background-image: url(https://pm.pstatic.net/resources/asset/sp_main.752c7542.png);
  background-size: 422px 405px;
  background-repeat: no-repeat;
  width: 44px;
  height: 44px;
  position: relative;
  z-index: 1;
  margin: 2px;
}
#nav a:visited {
  color: #000;
}
#nav li a div:before {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  left: -3px;
  background-image: url(https://pm.pstatic.net/resources/asset/sp_main.752c7542.png);
  background-size: 422px 405px;
  background-position: 0px -128px;
  background-repeat: no-repeat;
  width: 54px;
  height: 54px;
}
#nav li a span {
  display: inline-block;
  margin-top: 7px;
}
#nav li:nth-of-type(1) {
  margin-left: 0;
}
#nav li:nth-of-type(1) a div:after {
  background-position: -250px -90px;
}
#nav li:nth-of-type(2) a div:after {
  background-position: -250px 0px;
}
#nav li:nth-of-type(3) a div:after {
  background-position: -201px -98px;
}
#nav li:nth-of-type(4) a div:after {
  background-position: -90px -209px;
}
#nav li:nth-of-type(5) a div:after {
  background-position: 0px -209px;
}
#nav li:nth-of-type(6) a div:after {
  background-position: -180px -209px;
}
#nav li:nth-of-type(7) a div:after {
  background-position: -45px -209px;
}
#nav li:nth-of-type(8) a div:before {
  left: -1px;
}
#nav li:nth-of-type(8) a div:after {
  background-position: -201px 0px;
  width: 48px;
  height: 48px;
  top: -2px;
}
#nav li:nth-of-type(9) a div:after {
  background-position: -225px -209px;
}
#nav li:nth-of-type(10) a div:after {
  background-position: -250px -135px;
}

#main {
  display: flex;
  margin-top: 51px;
}
#main-left {
  width: 830px;
  margin-right: 30px;
}
#main-right {
  width: 420px;
}
#main-left-ad,
#main-right-ad {
  background: gray;
}
aside[id$="ad"] {
  /* id가 ad로 끝나는 선택자 */
  border-radius: 8px;
  margin-bottom: 16px;
}
#main-left-ad {
  height: 130px;
}
section[id^="main"] {
  /* section 중에 id값이 main으로 시작하는 선택자 */
  box-shadow: 0 0 0 1px #e3e5e8, 0 1px 2px 0 rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  margin-bottom: 16px;
}
#main-newstand {
  height: 426px;
}
#main-newstand-title {
  padding: 21px 20px 17px;
  display: flex;
}
#main-newstand-title a {
  padding-left: 26px;
  line-height: 1.7rem;
  font-size: 1.6rem;
  font-weight: bold;
  color: rgba(8, 8, 8, 0.5);
  position: relative;
}
#main-newstand-title a:hover{
  text-decoration: underline;
}
#main-newstand-title a:before {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 13px;
  width: 1px;
  height: 15px;
  background-color: #d3d5d7;
  background-color: var(--color_dot_divider);
  -webkit-transform: skewX(-15deg);
  -ms-transform: skewX(-15deg);
  transform: skewX(-15deg);
}
#main-newstand-title a:nth-of-type(1) {
  padding-left: 0;
  color: var(--color_title);
}
#main-newstand-title a:nth-of-type(1):before {
  display: none;
}
#main-newstand-title a:nth-of-type(2) {
  padding-left: 18px;
}
#main-newstand-title a:nth-of-type(2):before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  top: -3px;
  left: 0;
  background-color: #d3d5d7;
  background-color: var(--color_dot_divider);
  margin: 9px 7px 0;
  border-radius: 50%;
  vertical-align: top;
}
#main-newstand-news {
  line-height: 26px;
  margin: 2px 20px 0;
  padding: 12px 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  background-color: var(--color_option_bg);
}
#main-newstand-news a {
  font-size: 1.4rem;
  position: relative;
}
#main-newstand-news a:hover {
  text-decoration: underline;
}
#news-left a:nth-of-type(1) {
  color: var(--color_caption1);
}
#news-left a:nth-of-type(1) i {
  background-image: url(https://pm.pstatic.net/resources/asset/sp_main.752c7542.png);
  background-size: 422px 405px;
  background-position: -412px -366px;
  background-repeat: no-repeat;
  width: 9px;
  height: 6px;
  display: inline-block;
  margin: 10px 0 0 5px;
  vertical-align: top;
}
#news-left a:nth-of-type(2) {
  padding-left: 22px;
  flex: 1;
}
#news-left a:nth-of-type(2):before {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: 9px;
  background-color: #d3d5d7;
  background-color: var(--color_dot_divider);
  width: 1px;
  height: 12px;
}
#news-left a:nth-of-type(2):after {
  content: "";
  display: inline-block;
  width: 3px;
  height: 3px;
  background-color: #d3d5d7;
  background-color: var(--color_dot_divider);
  margin: 12px 5px 0 6px;
  border-radius: 50%;
  vertical-align: top;
}
#news-right a:last-of-type {
  padding-left: 22px;
  font-weight: bold;
}
#news-right a:last-of-type:before {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  left: 9px;
  width: 1px;
  height: 12px;
  background-color: #d3d5d7;
  background-color: var(--color_dot_divider);
}
#main-newstand-press {
  height: 224px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin: 18px 20px 18px 20px;
  border: 1px solid var(--color_border_in);
  border-radius: 4px;
}
#main-newstand-press div {
  height: 56px;
  padding: 18px 0;
  border-top: 1px solid var(--color_border_in);
  border-right: 1px solid var(--color_border_in);
}
#main-newstand-press div:nth-child(-n + 6) {
  border-top: none;
}
#main-newstand-press div:nth-child(6n) {
  border-right: none;
}
#main-newstand-press img {
  height: 20px;
}
#main-newstand-footer {
  padding: 10px 0 11px;
  line-height: 34px;
  border-top: 1px solid var(--color_border_in);
  text-align: center;
  position: relative;
}
#newstand-prev,
#newstand-next {
  width: 36px;
  height: 36px;
  border: 1px solid var(--color_button_border);
  border-radius: 50%;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  position: relative;
  top: -5px;
  background: #fff;
}
#newstand-prev {
  left: 1px;
  transform: rotate(180deg);
}
#newstand-next {
  left: -2px;
}
#newstand-prev:before,
#newstand-next:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../img/sp_main.png);
  background-size: 422px 405px;
  background-position: -412px -39px;
  background-repeat: no-repeat;
  width: 10px;
  height: 12px;
  margin: auto;
}
#newstand-txt {
  padding: 0 20px 0 22px;
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--color_caption2);
  letter-spacing: -0.4px;
}
#newstand-txt p {
  display: inline-block;
}
#newstand-txt span:first-of-type {
  color: var(--color_news);
}
#newstand-current-page {
  display: inline-block;
}
.color-chg {
  color: rgba(96, 96, 96, 0.5);
  position: relative;
  left: -4px;
}
#newstand-footer-right {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}
#newstand-footer-right button {
  border: none;
  border-radius: 10px;
  background: #fff;
}
#newstand-footer-right button:first-child {
  padding: 18px 5px 18px 20px;
}
#newstand-footer-right button:last-child {
  padding: 18px 20px 18px 9px;
}
#newstand-footer-right button:before {
  content: "";
  display: block;
  background-image: url(../img/sp_main.png);
  background-size: 422px 405px;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
#newstand-footer-right button:first-child:before {
  background-position: -107px -368px;
}
#newstand-footer-right button:first-child:hover:before{
  background-position: -86px -368px;
}
#newstand-footer-right button:last-child:before {
  background-position: -391px 0px;
}
#newstand-footer-right button:last-child:hover:before{
  background-position: -359px -368px;
}

#main-shopping {
  height: 560px;
}
#main-login {
  height: 164px;
  padding: 21px 20px 18px;
  font-size: 1.4rem;
  display: flex;
  flex-flow: column;
}
#main-login > div {
  display: flex;
  justify-content: center;
}
#main-login > div:first-of-type {
  line-height: 20px;
}
#main-login > div:last-of-type {
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #606060;
}
#main-login > div:last-of-type a {
  color: var(--color_caption2);
  letter-spacing: -0.4px;
}
#main-login > div:last-of-type a:hover {
  text-decoration: underline;
}
#main-login > div:last-of-type a:visited {
  color: inherit;
}
#main-login > div:last-of-type > a:nth-of-type(2):before,
#main-login > div:last-of-type > a:nth-of-type(2):after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 12px;
  background-color: #d3d5d7;
  background-color: var(--color_dot_divider);
  margin: 4px 12px 0;
  vertical-align: -2px;
}
#main-login > div:last-of-type a {
  position: relative;
  top: 2px;
}
#main-login-button {
  height: 56px;
  margin-top: 13px;
  padding: 17px 0;
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  color: #fff;
  background: #03c75a;
  margin-bottom: 16px;
}
#main-login-button i {
  background-image: url(../img/sp_main.png);
  background-size: 422px 405px;
  background-position: -120px -166px;
  background-repeat: no-repeat;
  width: 72px;
  height: 14px;
  display: inline-block;
  margin: 3px 8px 0 0;
  vertical-align: -1px;
}
#main-right-ad {
  height: 240px;
}
.main-weather-and-stock {
  height: 236px;
  padding: 0 18px;
}
.main-weather-and-stock > header {
  height: 52px;
  padding: 6px 0;
}
.main-weather-and-stock > div {
  border-top: 1px solid var(--color_border_in);
}
#main-stock {
  height: 236px;
}
